* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

body {
  position: relative;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#background {
  position: absolute;
  z-index: -1;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 650px;
}

h1 {
  font-size: 96px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 48px;
  font-weight: 500;
}

a, p {
  font-size: 24px;
  font-weight: 400;
}

button {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}

main {
  padding-top: 120px;
}
main h1 {
  color: #d9e8c4;
  mix-blend-mode: difference;
}
main button {
  transition: 0.5s all;
  margin-top: 60px;
  background-color: #bac7a9;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
}
main button:hover {
  background-color: #9fad91;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 1;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

.donates h2 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
.donates__block {
  transition: 0.5s all;
  margin-bottom: 20px;
  display: flex;
}
.donates__block img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}
.donates__block p {
  flex: 1;
}
.donates__block:last-child {
  margin-bottom: 0;
}
.donates__block:hover {
  transform: scale(1.1);
}
.donates hr {
  margin-bottom: 20px;
}
.donates__table {
  margin-top: 80px;
  height: 250px;
  position: relative;
}
.donates__table img {
  position: absolute;
  height: 100px;
  right: -20px;
  top: -99px;
}
.donates__column {
  height: 100%;
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #d9e8c4;
  border-radius: 5px 0 0 5px;
}
.donates__column:last-child {
  background-color: #bac7a9;
  border-radius: 0 5px 5px 0;
}
.donates__column h3 {
  text-align: center;
  margin-bottom: 20px;
}
.donates__column li {
  font-size: 36px;
  font-weight: 500;
}
.donates__column p {
  transition: 0.5s all;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
  background-color: #9fad91;
  transform: skew(-20deg);
  width: 250px;
}
.donates__column p b {
  display: block;
  transform: skew(20deg);
}
.donates__column p:hover {
  transform: scale(1.2) skew(-20deg);
}

footer {
  background-color: black;
  color: white;
  padding-top: 20px;
  margin-top: 50px;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer ul {
  list-style-type: disclosure-closed;
}
footer ul a {
  color: white;
}
footer p:first-child {
  margin-bottom: 15px;
}
